---
layout: default
title: Thunder Engine Development Blog
permalink: /blog/
---
<div class="body-image"><img src="/imges/community.jpg"></div>
{% assign pinned_posts = site.posts | where: "pinned", true %}
{% if pinned_posts.size > 0 %}
{% assign hero_post = pinned_posts | first %}
<section id="hero">
	<div class="post-hero">
		<a href="{{ hero_post.url }}">
			<img src="{{ hero_post.image }}" alt="{{ hero_post.title }}">
			<h1>{{ hero_post.title }}</h1>
			<div class="post-tag">Pinned</div>
		</a>
	</div>
</section>
{% endif %}
<section id="post">
	<div class="content-grid">
{% for post in site.posts %}
		<a href="{{ post.url }}">
			<div class="content-card">
				<div class="content-block">
					<img src="{{ post.image }}">
					<h3 id="editor-title">{{ post.title }}</h3>
					{{ post.excerpt }}
				</div>
			</div>
		</a>
{% endfor %}
	</div>
</section>
<section id="ready">
    <div class="hero-content"></div>
</section>