/* Reset some default styles */
body, h1, p {
	margin: 0;
	padding: 0;
}

svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    fill: white;
}

/* Set a background color and font styles */
body {
	font-family: Arial, sans-serif;
	background-color: #13495C;
	color: #333;
}

.body-image {
	background-image: linear-gradient(to bottom, transparent 70%, #13495C 100%), url('imges/hero.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	max-width: 100%;
	z-index: -1;
	height: 788px;
	width: 100%;
}

/* Style the header and navigation */
header {
	background-color: #424242A0;
	backdrop-filter: blur(10px);
	color: #fff;
	padding: 10px 0;
	display: flex;
	width: 100%;
	position: fixed;
	z-index: 100;
}

header img {
	display: block;
	width: 140px;
	height: auto;
	object-fit: contain;
}

footer {
	background-color: #424242A0;
	color: #fff;
	padding: 10px 0;
	display: flex;
	width: 100%;
}

section {
	padding: 20px 20px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav li {
	margin-right: 20px;
	
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}

a:link, a:visited {
	color: #fff;
	text-decoration: none;
}

a:hover, a:active {
	color: #fff;
	text-decoration: underline;
}

.right-nav {
	display: flex;
	align-items: center;
}

.language-selection {
	white-space: nowrap;
}

.language-span {
	cursor:pointer;
	color:#fff
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
	text-align: center;
	padding: 100px 0 50px 0;
}

.content h2 {
	text-align: center;
}

.content p {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 16px;
	text-align: left;
	line-height: 25px;
	opacity: 0.70;
}

.content-card {
	position: relative;
	overflow: hidden;
	height: 100%;
	border-radius: 8px;
	color: #333;
}

.content-grid {
	display: grid;
	gap: 20px;
}

.content-block {
	background: #fff;
	height: 100%;
	vertical-align: middle;
	padding-bottom: 50px;
}

.content-block h3 {
	margin: 0 auto;
	padding: 20px;
}

.content-block p {
	max-width: 360px;
	padding: 20px;
}

.content-block a {
	color: #333
}

.content-block img {
	width: 100%;
	vertical-align: middle;
	margin: 0;
}

.content-header {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	width: 100%;
	max-width: 1200px;
	overflow: visible;
	padding: 10px !important;
}

.content-button {
	display: inline-block;
	margin: 20px 0px;
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
}

#read-more {
	/*!position: absolute;*/
	bottom: 0;
	width: 100%;
}

#about {
	background-color: #424242A0;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(10px);
	color: #fff;
	max-width: 1400px;
	margin: 0px auto;
	border-radius: 8px 8px 0px 0px;
}

#desc {
	background-color: #F0F0F0;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	max-width: 1400px;
	margin: 0px auto;
}

#oss {
	background-color: #424242A0;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	color: #fff;
	max-width: 1400px;
	margin: 0px auto;
	border-radius: 0px 0px 8px 8px;
}

.about-grid {
	display: grid;
}

.about-block {
	display: table-cell;
	height: 100%;
	border-radius: 0px 0px 8px 8px;
	background: #FFFFFF20;
}

.about-center-block {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.about-center-block p {
	max-width: 360px;
	padding: 20px;
}

.about-img-block {
	display: table-cell;
	height: 100%;
}

.about-img-block img {
	width: 100%;
	vertical-align: middle;
	margin: 0;
	border-radius: 8px 8px 0px 0px;
}

#ready {
	color: #fff;
	padding: 0;
	text-align: center;
}

.ready-content h1 {
	font-size: 36px;
	margin-bottom: 20px;
	color: #fff; /* Header color */
}

.ready-content p {
	font-size: 16px;
	margin-bottom: 40px;
}

/* Style the hero section */
#hero {
	color: #fff;
	padding: 0;
	text-align: center;
}

.hero-content {
	background-color: #0000;
	padding: 220px 0px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	z-index: 1;
}

.hero-content h1 {
	font-size: 36px;
	margin-bottom: 20px;
	color: #fff; /* Header color */
}

.hero-content p {
	font-size: 16px;
	margin-bottom: 40px;
}

.hero-content a:link {
	color: #2C8197;
}

.cta-button {
	display: inline-block;
	padding: 10px 30px;
	background-color: #fff;
	text-decoration: none;
	border-radius: 8px;
	font-size: 20px;
}

.social-icons {
	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 10px;
}

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 20px 0;
}

.github-stats {
    display: flex;
    gap: 20px;
    margin: 40px;
    flex-wrap: wrap;
	justify-content: center;
}

.stat {
    background: #FFFFFF20;
    padding: 15px 20px;
    border-radius: 8px;
    min-width: 150px;
    text-align: center;
}

.stat-number {
    font-size: 2rem;
    font-weight: 700;
    color: #4fc3f7;
    margin-bottom: 5px;
}

.language-btn {
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.language-list {
    position: absolute;
	padding: 20px;
    background-color: #424242A0;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 200;
}

.language-selection.active .language-list {
	opacity: 1;
    visibility: visible;
    transform: translateY(0);
	backdrop-filter: blur(20px);
}

.language-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    cursor: pointer;
    transition: background 0.2s ease;
	border-radius: 8px;
}

.language-item:hover {
    background: #FFFFFF40;
 }
 
 #copyright {
	 max-width: inherit;
	 padding-left: 0px;
 }

@media (min-width: 600px) {
	.content-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	
}

@media (min-width: 1020px) {
	.content-grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.about-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.about-block {
		border-radius: 0px 8px 8px 0px;
	}
	.about-img-block img {
		border-radius: 8px 0px 0px 8px;
	}
}
