---
layout: default
---
<section id="hero">
	<div class="post-hero">
		<h1>Категория: {{ page.title }}</h1>
	</div>
</section>
<section id="post">
	<div class="post-content">
    {% for post in site.categories %}
		<article class="post-item">
		<h2>
			<a href="{{ post.url | relative_url }}">
			{{ post.title }}
			</a>
		</h2>
		
		<div class="post-meta">
			{% if post.tags %}
			<div class="tags">
				{% for tag in post.tags %}
				<span class="tag">{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		
		<div class="post-excerpt">
			{{ post.excerpt }}
		</div>
		
		<a href="{{ post.url | relative_url }}" class="read-more">
			Читать далее →
		</a>
		</article>
    {% endfor %}
  </div>
</div>