---
layout: default
---
<section id="hero">
	<div class="post-hero">
		<h1>Категория: {{ page.title }}</h1>
	</div>
</section>
<section id="post">
	<div class="post-content">
    {% for category in site.categories %}
		<h3>{{ category.title }}</h3>
		<div class="post-meta">
			{% for post in category.posts %}
			<span class="tag">{{ post.title }}</span>
			{% endfor %}
		</div>
    {% endfor %}
	
	{% for tag in site.tags %}
		<h3>{{ tag[0] }}</h3>
		<ul>
			{% for post in tag[1] %}
			  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
	
	</div>
</section>
<section id="ready">
    <div class="hero-content" />
</section>