---
layout: default
---

<section id="hero">
    <div class="hero-content">
        <h1>{{ page.title }}</h1>
        <p id="hero-paragraph">Welcome to Thunder Engine, your gateway to limitless game development possibilities!</p>
        <a id="download-button" href="https://github.com/thunder-engine/thunder/releases/latest/download/ThunderEngine-windows-x64.7z" target="_blank" class="cta-button">Download Now</a>
    </div>
</section>
<section id="about">
	<header class="post-header">
		<div class="post-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}">
				{{ page.date | date: "%d %B %Y" }}
			</time>

			{% if page.author %}
			<span class="post-author"> by {{ page.author }}</span>
			{% endif %}

			{% if page.categories %}
			<span class="post-categories">
				in
				{% for category in page.categories %}
				<a href="/blog/category/{{ category | slugify }}">
					{{ category }}
				</a>{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</span>
			{% endif %}
		</div>
	</header>

	<div class="post-content">
		{{ content }}
	</div>

	<footer class="post-footer">
		<nav class="post-navigation">
			<div class="nav-previous">
			{% if page.previous %}
			<a href="{{ page.previous.url }}" rel="prev">← {{ page.previous.title }}</a>
				{% endif %}
			</div>
			<div class="nav-next">
				{% if page.next %}
				<a href="{{ page.next.url }}" rel="next">{{ page.next.title }} →</a>
				{% endif %}
			</div>
		</nav>
	</footer>
</section>
